/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  margin: 0;
}

/* Reset CSS */
a { text-decoration: none; color: #222; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: normal; }
button { cursor: pointer; outline: none; }
button,input,textarea,select { outline: none; font-family: 'Montserrat', sans-serif; }

section {
  /* border: 1px solid #000; */
  width: 950px;
  margin: auto;
}

/* Section Header */
.section-header {}
.gnb {
  padding: 30px 0;
  text-align: right;
}
.gnb a {
  margin: 15px;
  /* border: 1px solid red; */
  position: relative;
  padding-bottom: 8px;
}
.gnb a:last-child {
  margin-right: 0;
}
.gnb a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.3s;
}
.gnb a:hover:after {
  width: 100%;
}
.search-box {
  display: flex;
  justify-content: space-between;
}
.search-box input {
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  padding: 5px;
  background: url(images/search.png) no-repeat   right;
  background-size: 22px;
  width: 300px;
  box-sizing: border-box;
}
.search-box button {
  border: none;
  background-color: crimson;
  color: #fff;
  padding: 13px 60px;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
  transition: 0.3s
}
 
.search-box button:hover {
  background-color: #000;
}

/* Items */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.item {
  width: 310px;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.item img {
  width: 100%;
}

@media (max-width: 767px) {
  section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .gnb {
    text-align: center;
  }


  /*   .search-box  영역이 아래로  */
  .search-box {
    flex-direction: column;
  }
  .search-box input {
    width: 100%;
    margin-bottom: 30px;
  }
  .item {
    width: 100%;
  }
} 

/* Description   갤러리이미지 hover시  올라오는 부분*/
.item {
  position: relative;
}
.desc {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 60px;
  left: 0;
  bottom: -60px;
  color: #eee;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s;
}

.item:hover .desc {
  bottom: 0;    /*위로 올라오도록*/
}


.desc h6 {
  font-size: 15px;
  margin-bottom: 5px;
}
 
.like span {
  font-size: 13px;
}
.like span:nth-child(1) .fa {
  color: crimson;
}
